LogicApp/EmailAndRecurrenceTrigger.json
{
    "$connections": {
        "value": {
            "outlook_1": {
                "connectionId": "/subscriptions/f23abd62-9cb4-4f44-8596-110f8275e76a/resourceGroups/eg-lgapp-test/providers/Microsoft.Web/connections/outlook-1",
                "connectionName": "outlook-1",
                "id": "/subscriptions/f23abd62-9cb4-4f44-8596-110f8275e76a/providers/Microsoft.Web/locations/southeastasia/managedApis/outlook"
            },
            "twilio": {
                "connectionId": "/subscriptions/f23abd62-9cb4-4f44-8596-110f8275e76a/resourceGroups/eg-lgapp-test/providers/Microsoft.Web/connections/twilio",
                "connectionName": "twilio",
                "id": "/subscriptions/f23abd62-9cb4-4f44-8596-110f8275e76a/providers/Microsoft.Web/locations/southeastasia/managedApis/twilio"
            }
        }
    },
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Send_Text_Message_(SMS)": {
                "inputs": {
                    "body": {
                        "body": "Just Some Message",
                        "from": "+12013895243",
                        "to": "+919515122857"
                    },
                    "host": {
                        "api": {
                            "runtimeUrl": "https://logic-apis-southeastasia.azure-apim.net/apim/twilio"
                        },
                        "connection": {
                            "name": "@parameters('$connections')['twilio']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/Messages.json"
                },
                "runAfter": {},
                "type": "ApiConnection"
            },
            "Send_an_email": {
                "inputs": {
                    "body": {
                        "Body": "This mail was sent by Logic Apps. If it works then lets use it.\n@{body('Send_approval_email')?['SelectedOption']}",
                        "Subject": "Testing from Logic Apps",
                        "To": "pratikb@microsoft.com"
                    },
                    "host": {
                        "api": {
                            "runtimeUrl": "https://logic-apis-southeastasia.azure-apim.net/apim/outlook"
                        },
                        "connection": {
                            "name": "@parameters('$connections')['outlook_1']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/Mail"
                },
                "runAfter": {
                    "Send_approval_email": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "Send_approval_email": {
                "inputs": {
                    "body": {
                        "Message": {
                            "Body": "Testing from logic App",
                            "Importance": "Normal",
                            "Options": "Approve, Reject",
                            "Subject": "Approval Request",
                            "To": "pratikb@microsoft.com"
                        },
                        "NotificationUrl": "@listCallbackUrl()"
                    },
                    "host": {
                        "api": {
                            "runtimeUrl": "https://logic-apis-southeastasia.azure-apim.net/apim/outlook"
                        },
                        "connection": {
                            "name": "@parameters('$connections')['outlook_1']['connectionId']"
                        }
                    },
                    "path": "/approvalmail/$subscriptions"
                },
                "runAfter": {
                    "Send_Text_Message_(SMS)": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnectionWebhook"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "Recurrence": {
                "recurrence": {
                    "frequency": "Day",
                    "interval": 3
                },
                "type": "Recurrence"
            }
        }
    }
}